{%extends 'base.html'%}

{% block url_to_stylesheet %}

<link rel="stylesheet" href="{{ url_for("static", filename="css/homepage.css") }}">
{% endblock url_to_stylesheet %}
{% block content %}
<div class="container.sm mt-4 mb-4 centered">
    <h1>
        Challenge technique Groover
    </h1>
</div>
<div class="centered">
    <p>You are already connected to Spotify and have an access token</p>
    <p>
       <a href="http://localhost:5000/retrieval" class="btn btn-success mt-4">Retrieve the new releases</a>
    </p>

</div>

{% endblock content %}